@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Edu NSW ACT Foundation", cursive;
}

body {
  background-image: url("assets/bgTile.png");
  background-size: 96px;
  display: flex;
  justify-content: center;
}

#container {
  width: 70vw;
  display: grid;
  grid-template-rows: 0.25fr 0.75fr;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
  grid-template-areas:
    "timerDisplay infoBar pointDisplay"
    "game game game";
}

#container > aside {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#timerDisplay {
  grid-area: timerDisplay;
}

#infoBar {
  grid-area: infoBar;
}

#pointDisplay {
  grid-area: pointDisplay;
}

h2 {
  color: #d1d8d3;
  text-align: center;
}

main {
  grid-area: game;
}

#speakerPlayIcon {
  display: none;
  position: fixed;
  top: 20px;
  right: 40px;
}

#speakerStopIcon {
  position: fixed;
  top: 20px;
  right: 40px;
}

canvas {
  background-image: url("assets/farmTile.png");
  background-size: 96px;
  width: 100%;
  height: 70vh;
  display: none;
}

.intro {
  background-image: url("assets/farmTile.png");
  background-size: 96px;
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-rows: 0.2fr 0.8fr;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
  grid-template-areas:
    "controlsKeyTitle introTextTitle  fruitsKeyTitle"
    "controlsKey      introText       fruitsKey";
}

.outro {
  background-image: url("assets/farmTile.png");
  background-size: 96px;
  width: 100%;
  height: 70vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.outro p {
  position: absolute;
  bottom: 10px;
  color: #ccc;
  text-align: center;
  font-size: 1.5em;
}

a:link,
a:visited {
  color: #ccc;
}

h1,
p {
  color: white;
  font-size: 3em;
  text-align: center;
}

.controlsKeyTitle {
  grid-area: controlsKeyTitle;
}

.controlsKey {
  grid-area: controlsKey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlsKey img {
  width: 50%;
}

.introTextTitle {
  grid-area: introTextTitle;
}

.fruitsKeyTitle {
  grid-area: fruitsKeyTitle;
}
.controlsKeyTitle,
.introTextTitle,
.fruitsKeyTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introText {
  grid-area: introText;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
}

.fruitsKey {
  grid-area: fruitsKey;
  display: flex;
}

.fruitsKey ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.fruitsKey ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

img {
  width: 64px;
}

li p {
  font-size: 2em;
}
