* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("assets/bgTile.png");
  background-size: 96px;
  /* background-color: #193b22; */
  display: flex;
  justify-content: center;
}

#container {
  width: 70vw;
  display: grid;
  grid-template-rows: 0.25fr 0.75fr;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
  grid-template-areas:
    "timerDisplay infoBar pointDisplay"
    "game game game";
}

#container > aside {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#timerDisplay {
  grid-area: timerDisplay;
}

#infoBar {
  grid-area: infoBar;
}

#pointDisplay {
  grid-area: pointDisplay;
}

h2 {
  color: #d1d8d3;
  text-align: center;
}

main {
  grid-area: game;
}

canvas {
  background-image: url("assets/farmTile.png");
  background-size: 96px;
  width: 100%;
  height: 70vh;
  display: none;
}

.intro {
  background-image: url("assets/farmTile.png");
  background-size: 96px;
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-rows: 0.2fr 0.8fr;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
  grid-template-areas:
    "controlsKeyTitle introTextTitle  fruitsKeyTitle"
    "controlsKey      introText       fruitsKey";
}

.controlsKeyTitle {
  grid-area: controlsKeyTitle;
}

.controlsKey {
  grid-area: controlsKey;
}

.introTextTitle {
  grid-area: introTextTitle;
}

.intro h1 {
  color: white;
  text-align: center;
}

.fruitsKeyTitle {
  grid-area: fruitsKeyTitle;
}
.controlsKeyTitle,
.introTextTitle,
.fruitsKeyTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introText {
  grid-area: introText;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fruitsKey {
  grid-area: fruitsKey;
}

.fruitsKey ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 50px;
}

.fruitsKey ul li {
  list-style-type: none;
}

img {
  width: 48px;
}
